body{
    background-image: url("../assets/pizza.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.nav ul{
    display: flex;
    /* border: 1px solid black; */
    width: 30%;
    justify-content: space-between;
    margin-left: 50%;
    list-style-type: none;
    font-size: 20px;
    margin-top: 2%;
}
.about h2{
    text-decoration: underline;
    font-weight: bolder;

}
.about{
    font-size: 30px;
    /* border: 1px solid blue; */
    margin-top: 15%;
    margin-left: 5%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.8);
    color: #FFAE42;

}
.carousel-item h5{
    font-size: 30px;
    color: #FFAE42;
    /* border: 1px solid blue; */
    width: 50%;
    margin-left: 60%;
    margin-top: -30%;
}
img{
    max-width: 100%;
    max-height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}
.d-block {
    width: 60vw;
    height: 100vh;
    
}
.carousel-item p{
    font-size: 30px;
    /* border: 1px solid #FFAE42; */
    color: #FFAE42;
    width: 50%;
    margin-left: 60%;

}
.menu{
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5%;
   
}
.carousel-inner> .item img{
    width:100%;
    max-height: 100%;
}